<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/home.css">
  </head>
  <body>
    <div class="section">
      <img src="/assets/logo.png" class="logo"></img> <br />
      <a href="/main">
        <button type="submit" class="btn">하우아유 페스티벌 바로가기</button>
      </a>
    </div>
    <p class="guide"> 하우어유 페스티벌을 처음 이용하시나요? <br /> <a href="https://www.h4vebeauty.com" class="guide_link" target="_blank">하우아유 페스티벌 가이드 보러가기</a></p>
  </body>
</html>
