.new_content {
    position: absolute;
    width : auto;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);

    height : 100%;
    margin: 50px;
}

.submit {
    border: none;
    border-radius: 50px 50px;
    width: auto;
    min-width: 600px;
    max-width: 2000px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
}

.submit:focus, .sub_submit:focus, textarea:focus {
    outline: none;
}

.sub_submit {
    border: none;
    min-width: 600px;
    max-width: 2000px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: -25px;
}

.textarea {
    border: none;
    width: auto;
    min-width: 600px;
    max-width: 2000px;
    font-size: 13px;
    resize: none;
}

.textarea::placeholder {
    font-weight: 700;
}

.map_title {
    font-size: 13px;
    font-weight: 700;
    color : #707070;
}

.error_check {
    color : #707070;
    font-size: 9px;
    margin-top: -7px;
    margin-bottom: -7px;
}

.final_submit {
    border: none;
    border-radius: 50px 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    width: auto;
    min-width: 670px;
    max-width: 2000px;
    margin-bottom: 50px;
    background-color: #007AC3;
    color : white;
}

.final_submit:hover {
    opacity: 80%;
}


#status_btn {
    width:15px;
    height:15px;
    vertical-align:text-top;
    margin-left:3px;
}

.radio_title{
    font-size: 13px;
    vertical-align:-7px
}