@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @keyframes loading {        /*loading이라는 keyframe 애니메이션*/
    0%,                      /* 0, 50, 100은 구간*/
    100% {
      opacity: 0;            /* 안보였다가 */
      transform: scale(0.5); /*transform의 scale로 요소를 확대 또는 축소할 수 있음*/   
    }
    50% {
      opacity: 1;             /* 보였다가 */
      transform: scale(1.2); /* 1.2배 */
    }
  }

a {
    font-family: 'Pretendard-Medium';
}

span {
    font-family: 'Pretendard-Medium';
}

p {
    font-family: 'Pretendard-Medium';
}

#youtubeMessage {
    font-size: 11px;
    margin-bottom: -13px;
}

.loadingBar {
    display: flex;            /*내부 요소들이 차례로 배치 */
    justify-content: center;  /*내부 요소의 좌우 정렬 상태를 가운데로 설정*/
    align-items: center;      /*요소는 세로 중앙 배치*/
}

.loading span {
    display: inline-block; /* span 내부요소들을 한줄로 세우기 */
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;    /* span을 동그랗게 */
    animation: loading 1s 0s linear infinite;
    /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
  }

  .loading span:nth-child(1) {  /*loading의 자식 중 첫번째 span*/
    /*nth-child : 형제 사이에서의 순서*/
    animation-delay: 0s;
    background-color: #e0e0e0;
  }

  .loading span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: #9e9e9e;
  }

  .loading span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: #424242;
  }

.header { /* 상단 전체 박스 */
    display: flex;
    position: relative;
    align-items:center; /* 세로 수직 정렬 */
    height: 130px;
}
.header_left {  /* 상단 로고, 메뉴 총 관리 박스 */
    margin: 14px;
    width: 70%;
    margin-left: 2%;
    height: 130px;
    display: flex;
    align-items:center; /* 세로 수직 정렬 */
}

.end-img {
    filter : brightness(60%);
}

.post_img {
    transition: all 0.5s;
    width: 300px;
    height: auto;
}

.post_img:hover {
    opacity: 70%;
}

#map {
    margin-top:14px;
}

.upload {
    margin-top: 10px;
}


.menu_a {
    color: black;
    text-decoration: none;
}

.menu_a:hover {
    text-decoration: none;
}

.sub_header { /* 상단 로고, 메뉴 총 관리 박스 */
    display: flex; 
    border : solid;
    width : 80%;
    height : 60%;
    margin-left : 3%;
    border-radius: 50px 50px;
    border-color: #AAA2A2;
    justify-content: center; 
    align-items: center;
    border-width: 2px;
    font-size: 17px;
    font-weight: 700;
    transition: all 0.5s;
}

.sub_header:hover {
    border-color: #707070;
}

.menu {
    margin : 7%;
    color : #707070;
}

.menu:hover {
    opacity: 90%;
    color: black;
    transition: all 0.6s;
}

.menu_selected:hover {
    margin : 7%;
    opacity: 90%;
    transition: all 0.6s;
    color: black;
}

.menu_selected {
    margin : 7%;
    color: black;
}

.menu_title {
    margin : 7%;
}

.sub_menu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: solid;
    border-radius: 50px 50px;
    border-color: #AAA2A2;
    border-width: 2px;
    height: 65px;
    margin-bottom: 10px;
    font-size: 22px;
}

.sub_menu:hover {
    background-color: #707070;
    opacity: 90%;
    color: white;
    transition: all 0.6s;
    border: none;
}

.sub_menu_selected {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 700;
        border: solid;
        border-radius: 50px 50px;
        background-color: #707070;
        color: white;
        border-width: 2px;
        height: 65px;
        margin-bottom: 10px;
}

.sub_menu_selected:hover {
    opacity: 90%;
    transition: all 0.6s;
}

.main_menu_title {
    display: block;
    font-size: 24px;
    margin-top: -3px;
    margin-bottom: 20px;
}

.sub_menu_title {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
}

.header_right {
    display: flex;
    margin-left : 1%;
    width : 24%;
    height: 60%;
    border-radius: 50px 50px;
    background-color: #707070;
    color: white;
    border-width: 2px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.quickmenu { 
    position : absolute; 
    width : 24%;
    margin-right : 2%;
    background:#fff;
}

.content {
    display: flex;
    margin-bottom: 50px;
    height: 100%;
}

.left_side {
    width : 70%;
    margin-left: 50px;
    margin-right: 50px;
}

.right_side {
    width : 25%;
    margin-right : 2%;
    border-radius: 10px 10px;
    border-color: #AAA2A2;
    border-width: 2px;
}

.sub_title {
    border : none;
    width : auto;
    height : auto;
    background-color: #707070;
    color : white;
    border-radius: 5px 5px;
    margin-top: 6px;
    font-size: 11px;
}

.title {
    font-weight: 700;
    font-size: 17px;
    margin-top: 2px;
}

.main_title {
    margin-top : 7px;
    margin-bottom : 50px;
    font-weight: 900;
    font-size: 30px;
}

.target_link {
    text-decoration: none;
    color: black;
}

.target_link:hover {
    text-decoration: none;
    color : black;
}

.target_link:visited {
    color: black;
}

.show_content {
    display: flex;
}

.right_content {
    width : auto;
    margin-left : 50px;
    margin-top : -5px;
}

.show_title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.show_description {
    font-size: 13px;
    margin-top: -17px;
    white-space: pre-line;
}

.error_message {
    color : red;
    font-weight: 700;
    opacity: 80%;
    margin: 1.5px;
}

a {
    color: none;
    text-decoration: none !important;
    outline: none;
}

a:hover, a:active {
    color: none;
    text-decoration: none;
    outline: none;
}

a:visited {
    color: none;
}